@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
  background-color: #F5F5F5 !important;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.logo-bar .logo-link {
  margin: 0 20px;
}

/* Responsif: jarak lebih kecil di layar kecil */
@media (max-width: 576px) {
  .logo-bar .logo-link {
    margin: 0 10px;
  }

  .logo-bar .logo-link img {
    height: 45px;
  }
}

.border-radius-custom {
  border-radius: 21px !important;
}

.form-custom-border {
  border-width: 1.5px !important;
  border-color: #000 !important; /* opsional: hitam */
}

.btn-primary {
  background-color: #37396B !important; /* ganti warna latar */
  border-color: #37396B !important;     /* ganti warna border */
  color: #ffffff !important;            /* warna teks */
}

.btn-primary:hover {
  background-color: #313254 !important;
  border-color: #37396B !important;
}

ul.custom-ul-li  {
  list-style: none;   
  padding-left: 0.5em;     /* atau sesuai kebutuhan */
  margin-left: 0;
}

ul.custom-ul-li li {
  position: relative;
  padding-left: 24px;        /* ruang untuk bullet */
  margin-bottom: 10px;
}

ul.custom-ul-li li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.4em;
  width: 12px;               /* besar bullet */
  height: 12px;
  background-color: #D9D9D9;   /* warna bullet */
  border-radius: 50%; 
}

@media (min-width: 992px) {
  footer.custom-fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}